/* header */
body{
    background-color: white;
    padding:0px;
    margin:0px;
    border:none;
}
.home-head{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    color:black;
    align-items: center;
}
.home-main{
    min-height: 400px;         
    max-height: 1000px;
    margin-top:10px;
    display:grid;
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   position:relative;
   bottom:20px;
   justify-content: center;
   color:black;
   justify-items: center;
   align-items: center;
}
@media (max-width: 400px) {
    .home-main {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Slightly smaller columns for very small screens */
        gap: 10px; /* Adjust gap for smaller viewports */
    }
}
@media (max-width: 635px) {
    #gohometwo{
        margin-top:150px;
    }
}
.home-main div:hover{
    /* background-color: rgb(235, 235, 235); */
    background-color:  rgb(20, 103, 219);
     transform:scale(1.1);
     cursor: pointer;
    color:white;
}
.home-main div:hover #home-main-signin{
    background-color: black;
}
.home-main-startup,.home-main-auth,.home-main-drug {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:350px;
    border-radius: 15px;
    height:350px;
    border:2px solid black;
    box-shadow: 0px 4px 10px  rgba(14,78,165,1); 
    margin:10px;
    transition: transform 0.4s ease;
} 
#home-main-img{
    height: 150px;
    border-radius: 50%;
}
#home-main-img2{
    height: 140px;
    margin-top: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#home-main-img3{
    height: 130px;
    margin-top: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#home-main-signin
{
    border:none;
    width:90px;
    height:50px;
    font-weight: bold;
    /* background-color: black; */
    background-color: rgba(14,78,165,1);
    color:white;
    border-radius: 10px;
    cursor: pointer;
    margin-top:10px;
}
#home-main-signin:hover{
    background-color:black;
}
#home-main-login
{
    border:none;
    width:90px;
    height:50px;
    font-weight: bold;
    color:rgb(1, 0, 0);
    border-radius: 10px;
    margin-top:10px;
    margin-bottom:20px;
    cursor: pointer;
}
#home-main-login:hover{
    color:white;
    background-color: black;
}
#gohometwo{
    background-color:rgb(0, 86, 10);
    color:white;
    width:300px;
    height:100px;
    font-weight: bold;
    font-size:1.4rem;
    border-radius: 15px;
    cursor:pointer;
    transition:  1s;
}
#gohometwo:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
}

.home-faq{
    color:black;
}
.home-chatbot{
    color:black;
}

#type-title{
    font-family: 'RobotoMono-Bold';
    font-size: 1.3rem;
}

#ytlink{
    background-color:rgb(3, 54, 125);
    /* background-color: rgba(14,78,165,1); */
    color:rgb(255, 255, 255);
    width:300px;
    height:80px;
    font-weight: bold;
    font-size:1.3rem;
    border-radius: 15px;
    cursor:pointer;
    transition:  1s;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 15px;
}


/* Slider.jsx css */

#card:hover{
    /* cursor: pointer; */
    transform: scale(1.02);
    transition: 0.4s;
    background-color: rgb(209, 177, 34);
}

#card:hover #intro{
    height: 160px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.73);
}


#intro{
    transition: .5s;
    height: 2px;
}

#intro p {
    visibility: hidden;
    opacity: 0;
}

#card:hover p{
    opacity: 1;
    visibility: visible;
    color: white;
}





/* TeamsPatrons.jsx css */
.tp-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(250, 245, 238);
}

.tp-container{
    width: 85%;
}

.swiper{
    width: 100%;
    padding: 60px 0;
}

.swiper-slide{
    position: relative;
    width: 400px;
    height: 650px;
    background-color: white;
    box-shadow: 1px 22px 44px rgba(0, 0, 0,0.2);
    /* border-radius: 20% 6px 20% 6px; */
    overflow: hidden;
    transition: 1s;
    user-select: none;
}

.swiper-slide-active{
    border: 3px solid black;
    transition: 0.6s ease-in-out;
}

.slide-1{
    background: url('../../assets/bannerimg1.jpg') no-repeat center/cover;
}
.slide-2{
    background: url('../../assets/bannerimg3.jpg') no-repeat center/cover;
}
.slide-3{
    background: url('../../assets/bannerimg4.jpg') no-repeat center/cover;
}
.slide-4{
    background: url('../../assets/bannerimg5.jpg') no-repeat center/cover;
}
.slide-5{
    background: url('../../assets/bannerimg1.jpg') no-repeat center/cover;
}
.slide-6{
    background: url('../../assets/bannerimg1.jpg') no-repeat center/cover;
}

.tp-title{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding: 25px 25px 30px;
}

.tp-title h1{
    color: #fff;
    opacity: 1;
}

.swiper-slide-active .tp-title h1{
    opacity: 0;
    transition: 0.8s;
    transition-delay: 1.5s;
}

.tp-content{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 25px 25px 65px;
    display: flex;
    flex-direction:  column;
    justify-content: end;
    background: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(180deg,transparent,transparent,rgba(0,0,0,0.6),rgba(0,0,0,0.8));
    color: #fff;
    opacity: 0;
}

.swiper-slide-active .tp-content{
    opacity: 1;
    transform: 0.8s;
    transition-delay: 1.5s;
}

.tp-text{
    opacity: 0;
}

.swiper-slide-active .tp-text{
    opacity: 1;
    transition: 1s;
}