/* font family GLOBAL Declarations */
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face { /* Global All titles*/
    font-family: 'Poppins-Medium'; 
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {  /* Home 1 Usertype */
    font-family: 'RobotoMono-Bold';
    src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {       /* only for ayush logo */
    font-family: 'Cust-Atmospheric';
    src: url('../fonts/aAtmospheric.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {       /* only for FAQs */
    font-family: 'SourceSansPro';
    src: url('../fonts/aAtmospheric.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

*{
 font-family: 'Poppins-Medium';
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

/* Custom slim scrollbar for the whole app (visible, styled) */
html, body {
  /* Hide global scrollbar but keep scrolling enabled */
  scrollbar-width: none;                     /* Firefox */
  -ms-overflow-style: none;                  /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                             /* Chrome/Safari */
}

/* Hide scrollbar but allow scrolling for blogs steps column */
.steps-scroll {
  scrollbar-width: none;                     /* Firefox */
  -ms-overflow-style: none;                  /* IE/Edge */
}

.steps-scroll::-webkit-scrollbar {
  display: none;                             /* Chrome/Safari */
}

  